.tweet-list-wrapper {
	position: absolute;
	top: 200px;
}

.tweet-box {
	display: flex;
	border: 1px solid lightgray;
	padding: 10px;
}

.user-image img {
	width: 45px;
	height: 40px;
	border-radius: 20px;
}

.tweet-content {
	margin-left: 30px;
}
