.header-wrapper {
	position: fixed;
	top: 0;
	width: 60%;
	height: 60px;
	z-index: 99999;
	background-color: white;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
